.container {
  padding-top: 45px;
  padding-bottom: 55px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}
.flex-list {
  color: black;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}
.item {
  background-color: rgb(102, 153, 204);
  justify-content: space-around;
  color: white;
  margin: 10px;
  height: 200px;
  width: 120px;
  text-align: left;
  font-size: 18px;
  margin-bottom: 30px;
  position: relative;
}
.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 130px;
  position: absolute;
}
.item input[type="checkbox"] {
  display: none;
  position: absolute;
  width: 130px;
  height: 50px;
  top: 190px;
  left: 60px;
  z-index: 1;
}

.item p {
  position: absolute;
  text-align: center;
  width: 120px;
  color: black;
  top: 220px;
  font-weight: bold;
}

.taskcontainer {
  padding-top: 45px;
  padding-bottom: 55px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
}

.taskflex-item {
  border: 2px solid white;
  color: white;
  font-size: 1.5rem;
  text-align: left;
  padding: 0px;
}

.taskitem {
  padding-top: 5px;
  background-color: rgb(102, 153, 204);
}

.taskitem button {
  height: 40px;
  width: 40px;
}

.taskitem input[type="checkbox"] {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: -1px;
}

.taskitem input[type="text"] {
  height: 30px;
  width: 94%;
  font-size: 15px;
  margin-right: 10px;
}

#detailitem {
  padding: 20px;
  background-color: rgb(90, 92, 94);
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

textarea {
  margin-right: 30px;
  border-radius: 4px;
}

select {
  border-radius: 4px;
}

input[type="date"] {
  border-radius: 4px;
}
#detailitem button {
  margin-left: 0px;
  color: white;
  background-color: grey;
  font-size: 18px;
  border: none;
  width: 100%;
  height: 40%;
  border-radius: 4px;
}

#detailitem button:hover {
  color: white;
  background-color: rgb(41, 35, 35);
}

#detailitem #close {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}
