* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-wrap: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 3%;
  background-color: #24252a;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
  cursor: pointer;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.navright{
  display: flex;
  justify-content: flex-end;
}

.cta {
  float: right;
  padding: 12px 12px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 5px;
  margin-right: 5px;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.search.icon {
  color: #000;
  width: 15px;
  height: 15px;
  border: solid 3px #000;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.search.icon:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 3px;
  height: 7px;
  width: 3px;
  background-color: #000;
}

.check.icon {
  color: #000;
  margin-top: 6px;
  width: 15px;
  height: 9px;
  border-bottom: solid 3px currentColor;
  border-left: solid 3px currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.listButton {
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width : 150px;
  height : 200px;
}

table {
  margin-bottom: 10px;
}