.form-popup {
  background-color: #f1f1f1;
  display: none;
  position: absolute;
  border: 8px solid #f1f1f1;
  border-radius: 0.4em;
  box-shadow: 3px 3px 3px 3px #acaaaa;
  opacity: 1;
}

.form-popup:after {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 0;
  height: 0;
  border: 27px solid transparent;
  border-bottom-color: #f1f1f1;
  border-top: 0;
  margin-left: -27px;
  margin-top: -27px;
}

.form-popup label {
  opacity: 0.5;
}

.form-container input[type="text"] {
  width: 93%;
  padding: 10px;
  border: 2px solid rgb(231, 159, 159);
  border-radius: 4px;
  background: #f1f1f1;
  opacity: 1;
}

.form-container .btn {
  color: black;
  padding: 16px 20px;
  font-size: 18px;
  border: none;
  width: 46%;
  height: 10%;
  border-radius: 4px;
}

button:disabled {
  color: #ece6e6;
  background: rgb(36, 35, 35);
  cursor: not-allowed;
}
